
/* Input fields */
#title
{
    font-size: 1.6rem;
    width: 100%;
    padding: 2px;
}

/* Display */
#post_section_metadata fieldset
{
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    border: 1px solid #000000;
    padding: 0 5px 4px;
    min-height: 60px;
}

#post_section_metadata fieldset legend
{
    pointer-events: none;
}

#post_permalink_legend
{
    font-size: 0.95rem;
    font-weight: bold;
    margin-left: 0;
    padding: 2px;
}

#post_section_info fieldset legend i.fa
{
    font-weight: normal;
    margin-right: 3px;
}

#post_section_info p select
{
    width: 150px;
}

#post_info_category p select
{
    width: 250px;
}

#post_info_category p label
{
    display: inline-block;
    width: 100px;
}

#post_info_settings p label
{
    display: inline-block;
    width: 90px;
}

#category_add
{
    width: 290px;
    margin-right: 5px;
}

#category_add_button
{
    width: 30px;
    line-height: 1rem;
}

#post_section_permalink
{
    font-size: 0.8rem;
    line-height: 2rem;
}

#post_permalink_blogurl
{
    color: #333;
    margin-right: 2px;
    pointer-events: none;
}

#post_permalink_slug
{
    border-bottom: 1px dotted #000;
    font-weight: bold;
    cursor: pointer;
}

#post_info
{
    position: relative;
}

#post_info > div
{
    display: block;
    float: left;
    height: 60px;
    margin: 6px 3px 6px;
}

#post_info_image
{
    position: relative;
    width: 550px;
}

#post_image_label_upload
{
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;
}

#post_image_icons
{
    position: absolute;
    width: 390px;
    height: 62px;
    top: 0;
    right: 0;
    overflow: auto;
}

#post_image_icons img,
#post_image_icons div.icon.throbber
{
    width: 60px;
    height: 60px;
    /* display: inline-block; */
    float: left;
    margin: 1px;
    opacity: 0.9;
    cursor: pointer;
}

#post_image_icons div.icon.throbber
{
    background-color: transparent;
    color: black;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    cursor: progress;
}

#post_image_icons img.selected
{
    border: 4px solid red;
    opacity: 1;
}

#post_image_icons div.init.throbber
{
    position: absolute;
    top: 20px;
    font-size: 14px;
    text-align: center;
    pointer-events: none;
    width: 100%;
    z-index: 100;
}

.info_label
{
    font-weight: bold;
}

section
{
    margin: 4px 0;
}

div.toast
{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 36px;
    max-width: 40vw;
    color: white;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: none;
}

/* Custom Redactor toolbar icons */
.redactor_toolbar li a
{
    background-image: url('/assets/img/custom_redactor_toolbar.png') !important;
}

body .redactor_toolbar li a.redactor_btn_uploadmedia
{
    background-position: -650px;
}
